/* montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif
}

.header {
    width: 100%;
    text-align: center;
}

.content {
    height: 800px;
    display: flex;
    justify-content: center;
}

.side {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side textarea {
    height: 100%;
    width: 100%;
    resize: none
}

.center {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center button {
    padding: 10px 20px;
}

#convert, #tab {
    margin: 5px;
}

.footer {
    padding: 25px;
    display: flex;
    justify-content: end;
}